<html>
<form action="/Donarverify">
    <h1>Donor Login</h1>
    <div class="donor">
      <label for="emailid" class="form-label">Email address</label>
      <input type="email" class="form-control" id="emailid" name="email">
    </div>
    <div class="donor">
      <label for="passid" class="form-label">Password</label>
      <input type="password" class="form-control" id="passid" name="psw">
    </div>
    <button type="submit" class="btn btn-primary">Submit</button>
    <a href="/Donarsignup">Create Account->></a>
</form>
</html>
