<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Donation Management Site</title>
    <link rel="stylesheet" href="/static/css/homepage.css">
</head>
<body>
    <div class="hero">
        <nav>
            <ul>
                <li><a href="">Home</a></li>
                <li><a href="">About</a></li>
                <li><a href="">Contact</a></li>
                <li><a href="loginOptions" target="_blank">Login</a></li>
            </ul>
        </nav>
        <h1>Donation Management<br>Site</h1>
        <button type="button">Explore The Life</button>

        <div class="cta">
            <p>You can explore more about this Site.</p>
            <button type="button">About Us &#x27F6;</button>
        </div>

    </div>




</body>
</html>