<!DOCTYPE html>
<html>
<head>
<meta name="viewport" content="wclassth=device-wclassth, initial-scale=1">
    <link rel="stylesheet" href="/static/css/profileinfo.css">
</head>
<body>

<div class="sclassenav" class="sclassenav">
  <a href="Profile">Profile</a>
  <a href="#services">Donation Requests</a>
</div>

<div class="main">
  <h2>Your Profile</h2>
  <p class="username">Name : {{username}}</p>
  <p class="username">Phone Number : {{phonenumber}}</p>
  <p class="username">Email : {{email}}</p>
  <img src="{{aadhar_image_path}}" id="img">
  <p class="username">Address : {{address}}</p>
  <p class="username">City : {{city}}</p>
  <p class="username">State : {{state}}</p>
</div>
</body>
</html>