<!DOCTYPE html>
<html>
<head>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Popup Design - Easy Tutorials</title>
  <link rel="stylesheet" href="/static/css/Successfulpopup.css">
</head>
<body>
  <div class="container">
    <div class="popup" id="popup">
      <img src="/static/images/popupassests/tick.png">
      <h2>Thank You!</h2>
      <p>You have been successfully signed up. Thanks!</p>
      <form action="/loginOptions"><button type="submit">OK</button></form>
    </div>
  </div>

</body>
</html>